@using ModernLearns.Core.Convertors
@model IEnumerable<ModernLearns.DataLayer.Entities.Order.Order>
@{
    ViewData["Title"] = "فاکتور های من";
}

@section Topic_Layer{
    <!-- BreadCrumb start -->
    <div class="container breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb_iner">
                        <li class="breadcrumb_iner_item"><a href="/Home">خانه</a></li> /
                        <li class="breadcrumb_iner_item"><a href="#">@ViewData["Title"]</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- BreadCrumb End -->
}

<!-- account start -->
<div class="container section_padding">
    <div class="row accouont">
        <div class="col-md-3 pull-right">
            <partial name="_SideBar" />
        </div>
        <div class="col-md-9 pull-left">
            <div class="left-side">
                <header><h2> @ViewData["Title"] </h2></header>
                <div class="left-ineer">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>شماره فاکتور</th>
                                <th>تاریخ</th>
                                <th>جمع</th>
                                <th>پرداخت</th>
                                <th>دستورات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.OrderId
                                    </td>
                                    <td>
                                        @item.CreateDate.ToShamsi()
                                    </td>
                                    <td>@item.OrderSum</td>
                                    <td>
                                        @if (item.IsFinaly)
                                        {
                                            <p class="text-success">
                                                <i class="glyphicon glyphicon-ok"></i>
                                                پرداخت شده
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                پرداخت نشده
                                            </p>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/UserPanel/MyOrders/ShowOrder/@item.OrderId">نمایش</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- account end -->
