@model ModernLearns.Core.DTOs.Course.ShowCourseListItemViewModel

<div class="col-sm-6 col-lg-4">
    <div class="single_special_cource">
        <img src="/course/image/@Model.ImageName" class="special_img" alt="corseImage">
        <div class="special_cource_text">
            <a href="#" class="btn_4">@Model.GroupTitle</a>
            <h4>@((Model.Price==0)?"رایگان":Model.Price.ToString("#,0"))</h4>
            <a href="/ShowCourse/@Model.CourseId"><h3>@Model.CourseTitle</h3></a>
            @*<p>@item.Description)</p>*@
            <div class="author_info">
                <div class="author_img">
                    @*<img src="/img/userAvatar/@item.Teacher.UserAvatar" alt="avatar">*@
                    <div class="author_info_text">
                        <p>مدرس</p>
                        <h5><a href="#">@Model.Teacher</a></h5>
                    </div>
                </div>
                <div class="author_rating">
                    <div class="rating">
                        <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                        <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                        <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                        <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                        <a href="#"><img src="img/icon/star.svg" alt=""></a>
                    </div>
                    <p>3.8 امتیاز</p>
                </div>
            </div>
        </div>

    </div>
</div>
